
form h3 {
	color: #fff;
	font-size: 18px;
	padding: 10px 0px 0px 0px;
}

form h2 {
	color: #fff;
	padding: 0;
	font-size: 18px;
	padding-top: 20px;
}

.modal-body {
	display: flex;
	flex-direction: column;
}

.container-box
{	position: relative;
	display:inline-block; 
	left: 0;
}

.fname, .lname {
	display: block;
	margin-bottom: 10px;
}

input[for=fname], input[for=lname], input[for=email] {
	width: 300px;
	height: 35px;
	border-radius: 5px;
	box-shadow: none;
}

.btn {
	display: inline-block;
	background: #EFBE5E;
	color: #404040;
	margin: 0 auto;
	width: 223px;
	height: 68px;
	margin-bottom: 40px;
	
}

.btn-2 {
	display: inline-block;
	background: rgba(0,0,0,.2);
	color: #fff;
	margin: 0 auto;
	width: 154px;
	height: 47px;
	font-size: 18px;
	border: solid 1px #fff;
	
}

.btn-info-2 {
	border-color: #fff;
	transition: color linear 0.5s,
	background linear 0.5s,
	border linear 0.5s;
}

.btn-info-2:hover {
	background: #fff;
	border: #fff;
	color: #404040;
	transition: color linear 0.5s,
	background linear 0.5s;
}

.btn-2:focus,.btn-2:active {
	outline: none !important;
	box-shadow: none;
 }

.btn-info-2:focus {
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,.2);
}

.btn-info:focus {
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,.2);
}

.btn-info {
	border-color: #EFBE5E;
	transition: color linear 0.5s,
	background linear 0.5s,
	border linear 0.5s;
}

.btn-info:hover {
	background: #277752;
	border: #277752;
	color: #fff;
	transition: color linear 0.5s,
	background linear 0.5s;
}

.form-control {
	width: 300px;
	min-height: 100px;
	border-radius: 3px;
	border: solid 1px #707070;
	font-size: 15px;
}

.top-text {
	padding-bottom: 20px;
}

label[for=accept] {
	display: inline-block;
	width: 150px;
	padding-left: 35px;
	line-height: 18px;
}

#decline, #accept {
	top: 33px
}

label[for=decline] {
	display: inline-block;
	width: 140px;
	padding-left: 35px;
	line-height: 18px;
}

#radiobtns {
display: flex;
margin: auto 0;
text-align: left;
align-items: center;
}

input[type=checkbox] {
	display: block;
	flex-wrap: nowrap;
	position: relative;
	width: 30px;
	height: 30px;
	top: 15px;
}

label[for=plus1] {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	float: right;
	font-size: 18px;
	width: 275px;
	bottom: 10px;
	margin-bottom: 15px;
	line-height: 1.2;
}

.p1text {
	font-size: 15px;
}

button[type=submit] {
	background: #277752;
	border: 1px #fff solid;
	border-radius: 5px;
	text-transform: uppercase;
	width: 154px;
	margin-top: 30px;
	height: 47px;
	color: #fff;
	font-size: 18px;
	transition: background 0.2s linear;
}

.bcontainer {
	text-align: center;
}

button[type=submit]:hover {
	background-color: #EFBE5E;
}

.modal-content {
	top: 70px;
	max-width: 370px;
	margin: 0 auto;
	background: #277752;
}

body.modal-open {
	overflow: inherit;
	padding-right: 0 !important;
  }

.modal-backdrop {
	z-index: 0;
}

.modal-container {
	width: 380px;
	background: transparent;
	border-radius: 5px;
	margin-bottom: 20px;
}

.modal-header {
	background: transparent;
	color: #fff;
	font-size: 26px;
	margin: 0 auto;
	width: 400px;
	border: none;
}

.close {
	display: block;
	color: #fff;
	width: 100px;
	opacity: 1;
}

.close:hover {
	color: #fff;
	opacity: 1;
}

.modal-body
{
	height: 600px;
	width: 350px;
	background: #277752;	
	font-size: 18px;
	color: #fff;
	margin: 0 auto;
	max-height: calc(100vh - 200px);
	overflow-y: scroll;
	border-radius: 5px;
	}

.modal-body::-webkit-scrollbar {
		width: 5px;
	}
	 
.modal-body::-webkit-scrollbar-thumb {
	  background-color: #fff;
	  outline: 1px solid slategrey;
	}

	.collapse.show {
		visibility: visible;
	  }

	@media screen and (min-width: 300px) and (max-width: 700px)  {

		.modal-container {
		width: 100%;
		}
		.modal-body {
			text-align: left;
			width: 100%;
		}

		.modal-header {
			width: 100%;
		}

		.close {
			color: #fff !important;
			width: 100px;
			opacity: 1;
		}
		
		.close:hover {
			color: #fff;
			opacity: 1;
		}
	}