
h3 {
	color: #fff;
	font-size: 18px;
	padding: 10px 0px 0px 0px;
}

.plus {
	font-size: 14px;
}

p.respond {
	padding-bottom: 20px;
}

.container-box
{
	position: relative;
	display:inline-block; 
	padding-bottom: 30px;
	left: 0;
}


.btn {
	display: inline-block;
	background: #EFBE5E;
	color: #404040;
	margin: 0 auto;
	width: 223px;
	height: 68px;
	
}

.btn-2 {
	display: inline-block;
	background: rgba(0,0,0,.2);
	color: #fff;
	margin: 0 auto;
	width: 154px;
	height: 47px;
	font-size: 18px;
	border: solid 1px #fff;
	
}

.btn-info-2 {
	border-color: #fff;
	transition: color linear 0.5s,
	background linear 0.5s,
	border linear 0.5s;
}

.btn-info-2:hover {
	background: #fff;
	border: #fff;
	color: #404040;
	transition: color linear 0.5s,
	background linear 0.5s;
}

.btn-2:focus,.btn-2:active {
	outline: none !important;
	box-shadow: none;
 }

.btn-info-2:focus {
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,.2);
}

.btn-info:focus {
	box-shadow: 0 0 0 0.2rem rgba(0,0,0,.2);
}

.btn-info {
	border-color: #EFBE5E;
	transition: color linear 0.5s,
	background linear 0.5s,
	border linear 0.5s;
}

.btn-info:hover {
	background: #277752;
	border: #277752;
	color: #fff;
	transition: color linear 0.5s,
	background linear 0.5s;
}

.form-control {
	width: 303px;
	height: 38px;
	border-radius: 3px;
	border: solid 1px #707070;
}

.form-group {
	margin-top: 30px;
}

textarea#message.form-control {
	width: 303px;
	height: 82px;
	font-size: 14px;
}


.accept {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	float: left;
	font-size: 16px;
	width: 100px;
	margin-top: 5px;
	line-height: 1.2;
}

.decline {
	position: relative;
	display: flex;
	float: right;
	font-size: 16px;
	width: 100px;
	right: 30px;
	margin: 5px;
	line-height: 1.2;
}

label[for=oneyes] {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	float: right;
	font-size: 16px;
	width: 300px;
	bottom: 10px;
	margin-bottom: 20px;
	line-height: 1.2;
}

input[type=radio] {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	width: 50px;
	height: 20px;
	top: 10px;
}

input[type=checkbox] {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	width: 20px;
	height: 20px;
	top: 10px;
}

label[for=accept] {
	margin-left: 5px;
}

label[for=decline] {
	margin-left: 5px;
}

button[type=submit] {
	background: #277752;
	border: 1px #fff solid;
	width: 154px;
	height: 47px;
	color: #fff;
	font-size: 18px;
}

.subbut {
	text-align: center;
	width: 300px;
	padding: 20px;
}

p.plus {
	padding: 0;
}

.modal-content {
	top: 70px;
	max-width: 370px;
	margin: 0 auto;
	background: #277752;
}

body.modal-open {
	overflow: inherit;
	padding-right: 0 !important;
  }

.modal-container {
	position: relative;
	width: 320px;
	margin: 0 auto;
}

.modal-backdrop {
	z-index: 0;
	
}

.modal-header {
	background: #277752;
	border: 1px solid #fff;
	color: #fff;
	font-size: 26px;
	margin: 0 auto;
	width: 370px;
	border: none;
}

.close {
	color: #fff;
	width: 100px;
	opacity: 1;
}

.modal-body
{
	height: 700px;
	width: 370px;
	background: #277752;	
	font-size: 18px;
	color: #fff;
	margin: 0 auto;
	max-height: calc(100vh - 200px);
	overflow-y: scroll;
	}

.modal-body::-webkit-scrollbar {
		width: 5px;
	}
	 
.modal-body::-webkit-scrollbar-track {
		
	}
	 
.modal-body::-webkit-scrollbar-thumb {
	  background-color: #fff;
	  outline: 1px solid slategrey;
	}

	@media screen and (min-width: 300px) and (max-width: 700px)  {

		.modal-container {
		width: 100%;
		}
		.modal-body {
			text-align: left;
			width: 100%;
		}

		.modal-header {
			width: 100%;
		}





