
* {
    box-sizing: border-box;   
  }


html {
    margin: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #767676;
    min-width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;

}

.container {
    position: relative;
    height: auto;
    text-align: center;
    padding-bottom: 3.89rem;
    padding-top: 3.54rem;
    width: 1004px;
    margin: 0 auto;
    
}

h2 {
    font-size: 1.5rem;
    padding: 2.7rem;
    text-transform: uppercase;
    color: #268274;
}

h3 {
    font-size: 1.2rem;
    padding: 1.12rem;
    text-transform: uppercase;
    color: #268274;
}

h4 {
    font-size: 1.5rem;
    padding: 2.7rem;
    text-transform: uppercase;
}

 p {
     padding-bottom: 2.7rem;
     line-height: 1.12rem;
 }

 img {
     padding: 2.7rem;
 }

 /*mobile / tablet nav - not needed here*/
 #menuToggle {
     display: none;
 }

 .ncontainer {
   width: 1004px;
   display: flex;
   justify-content: space-evenly;
 }

nav {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background:#268274;
    width: 100%;
    height: 64px;
    z-index: 2;
 }

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding-top: 15px;
}

.banner {
    background-image: url("https://i.imgur.com/alcxkJY.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    top: 3.54rem;
}

.bcontainer {
  width: 1004px;
  margin: 0 auto;
}

#rsvp1 {
    background-color: #89BAAF;
    width: 8.5rem;
    height: 2.61rem;
    border-radius: 0.278rem;
    color: #404040;
    text-align: center;
    padding-top: 0.75rem;
}

.logo {
  min-width: 300px;
  color: #fff;
}

#countdown{
  font-family: "Montserrat", sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#countdown > div{
  padding: 10px;
  border-radius: 1px;
  display: inline-block;
}

#countdown div > span{
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}

#rsvp2 {
    width: 27.78rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #404040;
    background-color: #89BAAF;
    padding: 1.12rem 4.45rem;
    font-size: 1.23rem;
    border-radius: 0.278rem;
}

.split {
    display: flex;
    flex-wrap: no-wrap;
}

.list {
    min-width: 300px;
}

.address img {
  max-width: 1004px;
  min-width: 300px;
  height: auto;
}

hr {
    border-top: 1px solid #8c8b8b;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #268274;
    color: #fff;
    text-align: center;
  }

  #mobile-map {
    display: none;
  }


  @media screen and (min-width: 370px) and (max-width: 1020px)  {
      /* for all phones and tablets - design is simple enough to work 
      without extra media queries */

.container {
    max-width: 400px;
}

.bcontainer {
  max-width: 400px;
}

#countdown {
  font-weight: 700;
}

.split {
    flex-wrap: wrap;
}

    nav {
    z-index: 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 0.8rem;
    grid-template-areas:
    "menu . nav";
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
       font-size: 15px;
    }

    #nav {
        display: none;
    }

    #rsvp1 {
        font-size: 15px;
        width: 94px;
        height: 33px;
        border-radius: 0.278rem;
        color: #626262;
        text-align: center;
        padding: 10px;
        margin-left: 270px;
    }

    #desktop-map {
      display: none;
    }

    #mobile-map {
  display: block;
  width: 400px;
    }


    #menuToggle
    {
      display: block;
      position: fixed;
      grid-area: menu;
      top: 20px;
      left: 50px;
      z-index: 2;
      -webkit-user-select: none;
      user-select: none;
      color: #fff;

    }
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0; 
      z-index: 2; 
      -webkit-touch-callout: none;
    }
    
    #menuToggle span
    {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #fff;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* transform all the slices of hamburger
      into a crossmark */

    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #fff;
    }
    
    /* hide the middle one */

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /* the last one goes the other direction */
    
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    /* make this absolute positioned
       at the top left of the screen */

    #menu
    {
      position: fixed;
      width: 230px;
      margin: 17px 0 0 -50px;
      background: #D9D9D9;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
      padding: 15px 50px ;
      font-size: 22px;
      color: #626262;
      text-transform: uppercase;
    }

    #menu a {
        text-decoration: none;
    }
    
    /* to slide the menu in from the left */
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }
}

